#Ignore all Types of Files which should not be committed

*.a

*.so

*.o

*Cache*.txt

*.cmake

*.gz

*.info

#Ignore all folder names which should not be committed
CMakeFiles

Logs/

lib/

obj/

bin/

*Makefile*

build/*

core.*

